/* Classic SF */
#contentWrapper .outer td.oRight {
    .cs-app-wrapper {
        min-height: calc(100vh - 111px - 51px - 3px); // header - footer - margin
    }
}

html {
    height: 100%;
    body {
        margin: 0;
        padding: 0 !important;
        height: 100%;
        #root {
            height: 100%;
        }
        .cs-app-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: calc(100vh - 1px);
        }
    }
}

.cs-tab-group .cs-tab-wrapper .cs-tab .cs-tab-name {
    line-height: initial;
}

.action-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .cs-toggle-element .cs-label-wrapper {
        cursor: pointer;
    }
}

.table-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    .cs-table {
        flex: 1 1 0;
        overflow-y: auto;
        .cs-table-cell > span {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            white-space: nowrap;
        }
        .cs-table-header {
            position: sticky;
            top: 0;
        }
        .addon-row,
        .package-cp-row {
            &.cs-table-row .cs-table-cell:first-child > span {
                padding-left: 1.5rem;
            }
        }
        .pkg-icon {
            margin-right: 0.5rem;
            margin-top: 1px;
        }
    }
}

.input-wrapper {
    position: relative;
    .cs-btn {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
}
