/* Classic SF */
#contentWrapper .outer td.oRight {
    .cs-app-wrapper {
        min-height: calc(100vh - 111px - 51px - 3px); // header - footer - margin
    }
}

html {
    height: 100%;
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        #root {
            height: 100%;
        }
        .cs-app-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: calc(100vh - 1px);
        }
    }
}

.table-wrapper {
    flex: 1 1 0;
    overflow-y: auto;
    .action-row {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
}
