/* Classic SF */
#contentWrapper .outer td.oRight {
    .cs-app-wrapper {
        min-height: calc(100vh - 111px - 51px - 3px); // header - footer - margin
    }
}

html {
    height: 100%;
    body {
        margin: 0;
        padding: 0 !important;
        height: 100%;
        overflow: hidden;
        #root {
            height: 100%;
        }
        .cs-app-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: calc(100vh - 1px);

            .demo-main-header.cs-main-header {
                height: 4rem;
                .cs-btn {
                    margin-right: 0.5rem;
                }
            }
        }
        /* OVERRIDE PLM STYLES */
        .new-promotion-modal, .manage-promotions-modal, .create-new-prg-modal {
            .cs-input-text-wrapper .cs-input-text[read-only]:focus {
                box-shadow: none !important;
            }
            input, select {
                height: 2rem !important;
            }
        }
    }
}



.ppdm-tabs.cs-tab-group .cs-tab-wrapper {
    margin-top: -1px;
    &.cs-tab-wrapper-large {
        border-top: none;
    }
    .cs-tab {
        font-weight: normal;
        .cs-tab-name {
            line-height: initial;
        }
    }
}

.action-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .cs-toggle-element .cs-label-wrapper {
        cursor: pointer;
    }
}

.ppdm-table-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    .cs-table.cs-table {
        flex: 1 1 0;
        overflow-y: auto;
        .cs-table-header {
            position: sticky;
            top: 0;
        }
        .cs-table-body {
            .cs-table-cell {
                padding: 0.5rem;
                > span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    white-space: nowrap;
                }
                img {
                    display: inline-block;
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }
        .addon-row {
            &.cs-table-row .cs-table-cell:nth-child(2) > .addon-icon-wrapper {
                padding-left: 2rem;
            }
        }
        .package-cp-row {
            &.cs-table-row .cs-table-cell:nth-child(2) > span {
                padding-left: 2rem;
            }
        }
        .cs-table-row:last-child .cs-table-cell {
            border-bottom: 1px solid #dddbda;
        }
        .pkg-icon, .addon-icon {
            margin-right: 0.5rem;
            margin-top: 1px;
        }
        /* column widths */
        .cs-table-cell.cs-table-cell.col-Image {
            min-width: 7rem;
            max-width: 7rem;
        }
        .cs-table-cell.col-Name {
            min-width: 6rem;
        }
        .cs-table-cell.col-Description {
            min-width: 15rem;
            span {
                white-space: pre-wrap;
            }
        }
        .cs-table-cell.col-CommercialProductCode {
            min-width: 10.5rem;
            max-width: 10.5rem;
        }
        .cs-table-cell.col-Rating {
            min-width: 4rem;
            max-width: 4rem;
        }
        .cs-table-cell.col-OneOff {
            min-width: 8rem;
            max-width: 8rem;
        }
        .cs-table-cell.col-Recurring {
            min-width: 9rem;
            max-width: 9rem;
        }
        .cs-table-cell.col-Actions {
            min-width: 7rem;
            max-width: 7rem;
            .cs-btn.manage-promotions {
                margin-left: 0.5rem;
            }
        }
    }
}

.input-wrapper {
    position: relative;
    .cs-btn {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
}

/* dropdown popup styles */
.cs-dropdown-root {
    .cs-dropdown-outer-item-wrapper {
        width: 15rem;
    }
    .dropdown-charges {
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: right;
        .cs-input-text-wrapper {
            margin-bottom: 0.5rem;
        }
        .dropdown-footer {
            display: inline-flex;
            align-items: center;
            padding: 0.25rem 0 0 0;
            .cs-btn:last-child {
                margin-left: 0.5rem;
            }
        }
    }
    .cs-dropdown-outer-item-wrapper .cs-dropdown-item-wrapper li .cs-btn::after {
        border: 1px solid #dddbda;
        border-radius: 0.25rem;
    }

    .success-icon {
        animation: success-pseudo 0.75s;
        opacity: 0;
    }
}

.plm-wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .app-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        .plm-variants {
            flex: 1;
            display: flex;
            .plm-variants-product-grid {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .cs-main-header.cs-main-header-neutral {
        display: none;
    }
    .react-grid-Grid {
        min-height: 400px !important;
    }
}


.link-button {
    background: none;
    border: none;
    color: #0070d2;
    cursor: pointer;
    padding: 0;
    height: 1.2rem;
    font-weight: normal;
    font-size: 0.8125rem;
    &:hover, &:focus {
        text-decoration: underline;
    }
}



/* animations */
@keyframes success-pseudo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hidden {
    display: none;
}
